h1 Small(ish) screen alert!
p My resume is displayed as a PDF, which can be a pain to view on small screens. Maybe you would prefer to download it instead? Keep scrolling to view it anyway!

= render 'download_buttons'

hr

