#intro.landing-container
  .text-center
    h1 Featured Projects
- @projects.each.with_index do |proj, index|
  .landing-container class="#{index.odd? ? 'accent' : 'basic'}-pallette"
    = offset_render 'project', project: proj
- content_for :javascript do
  javascript:
    $(function() {
      $('.read-more').on('click', function(e) {
        e.preventDefault();
        var target = $(e.currentTarget);

        target.closest('.long-description').find('.long-description-content').removeClass('hidden');
        target.closest('.long-description').find('.read-less').removeClass('hidden');

        target.closest('.long-description').find('.trunc-description-content').addClass('hidden');
        target.addClass('hidden');
      });

      $('.read-less').on('click', function(e) {
        e.preventDefault();
        var target = $(e.currentTarget);
        
        target.closest('.long-description').find('.trunc-description-content').removeClass('hidden');
        target.closest('.long-description').find('.read-more').removeClass('hidden');
        
        target.closest('.long-description').find('.long-description-content').addClass('hidden');
        target.addClass('hidden');
      });
    });