#intro.landing-container
  .text-center
    h1 Featured Projects
    ul.list-inline
      li
        h3 
          a href="#{ENV['GITHUB_URL']}" target='_blank' GitHub Profile
.landing-container class='basic-pallette'
  = offset_render 'racko', racko: @racko
.landing-container class='medium-pallette'
  = offset_render 'carshare', carshare: @carshare


- content_for :javascript do
  javascript:
    $(function() {
      $('.read-more').on('click', function(e) {
        e.preventDefault();
        var target = $(e.currentTarget);

        target.closest('.long-description').find('.long-description-content').removeClass('hidden');
        target.closest('.long-description').find('.read-less').removeClass('hidden');

        target.closest('.long-description').find('.trunc-description-content').addClass('hidden');
        target.addClass('hidden');
      });

      $('.read-less').on('click', function(e) {
        e.preventDefault();
        var target = $(e.currentTarget);
        
        target.closest('.long-description').find('.trunc-description-content').removeClass('hidden');
        target.closest('.long-description').find('.read-more').removeClass('hidden');
        
        target.closest('.long-description').find('.long-description-content').addClass('hidden');
        target.addClass('hidden');
      });
    });