@import variables

#intro-container
  margin: 10em 1em
  color: $medium
  font-family: $code

#intro-container h1
  font-size: 5vw
  color: $light
  opacity: $op-subtle + .3

#intro-container h3
  font-size: 2vw
  color: $light
  opacity: $op-subtle

@media screen and (max-width: 600px)
  #intro-container
    margin: 10em 1em

  #intro-container h1
    font-size: 7vw
    color: $light
    opacity: $op-subtle + .3

  #intro-container h3
    font-size: 4vw
    color: $light
    opacity: $op-subtle