@import variables
@import navigation
@import landing
@import pallettes

body 
  background-color: $dark
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif

ul
  list-style: none
a
  text-decoration: underline

a:hover 
  cursor: pointer
a:hover, a:focus
  text-decoration: underline

.margin-top
  margin-top: 20px

.margin-right
  margin-right: $marginpx
  
.btn
  -webkit-transition-duration: 0.4s
  transition-duration: 0.4s
  border: $btn-borderpx solid transparent

.content ul > li
  margin-bottom: $marginpx

.footer
  background-color: $nav-background
  padding: 2em

//images
$icon-height: 30px

.glyphicon 
  font-size: $icon-height
  height: 100%
  vertical-align: middle
  color: $medium

.icon 
  max-height: $icon-height
  height: 100%
  width: auto

  margin-right: $marginpx
.icon img
  max-height: $icon-height
  width: auto
