@import variables

.dark-pallette
  padding: 2em 2em
  background-color: $dark

  h1
    color: $accent
    opacity: $op-emphasis
    font-weight: bold

  h3
    color: $highlight
    font-weight: bold
    opacity: $op-default

  p
    color: $highlight
    opacity: $op-emphasis

  a
    color: $light
    text-decoration: underline

  a:hover, a:focus
    color: $accent
    opacity: $op-emphasis

  .btn
    background-color: $accent
    color: $highlight

    a
      color: $highlight
      text-decoration: none

  .btn:hover, .btn:focus
    background-color: $dark
    color: $highlight
    border: 2px solid $highlight
    
    a
      color: $highlight
      text-decoration: none

.medium-pallette
  padding: 2em 2em
  background-color: $medium

  h1
    color: $highlight
    opacity: $op-emphasis
    font-weight: bold

  h3
    color: $highlight
    font-weight: bold
    opacity: $op-default

  p
    color: $highlight
    opacity: $op-emphasis
  a
    color: $highlight
    opacity: $op-default
    text-decoration: underline

  a:hover, a:focus
    color: $highlight
    opacity: $op-emphasis

  .btn
    background-color: $dark
    color: $highlight

    a
      color: $highlight
      text-decoration: none

  .btn:hover, .btn:focus
    background-color: $medium
    color: $highlight
    border: 2px solid $highlight
    
    a
      color: $highlight
      text-decoration: none

.light-pallette
  padding: 2em 2em
  background-color: $light

  h1
    color: $highlight
    opacity: $op-default
    font-weight: bold

  h3
    color: $dark
    font-weight: bold
    opacity: $op-default

  p
    color: $dark
    opacity: $op-emphasis
  a
    color: $dark
    opacity: $op-default
    text-decoration: underline

  a:hover, a:focus
    color: $highlight
    opacity: $op-emphasis

  .btn
    background-color: $dark
    color: $highlight
    
    a
      color: $highlight
      text-decoration: none

  .btn:hover, .btn:focus
    background-color: $light
    color: $highlight
    border: 2px solid $highlight 

    a
      color: $highlight
      text-decoration: none

.highlight-pallette
  padding: 2em 2em
  background-color: $highlight

  h1
    color: $accent
    opacity: $op-default
    font-weight: bold

  h3
    color: $dark
    font-weight: bold
    opacity: $op-default

  p
    color: $dark
    opacity: $op-default

  a
    color: $dark
    opacity: $op-default
    text-decoration: underline

  a:hover, a:focus
    color: $accent
    opacity: $op-emphasis

  .btn
    background-color: $accent
    color: $highlight

    a
      color: $highlight
      text-decoration: none
      opacity: $op-emphasis

  .btn:hover, .btn:focus
    background-color: $highlight
    color: $accent
    border: 2px solid $accent
    
    a
      color: $accent
      text-decoration: none

.accent-pallette
  padding: 2em 2em
  background-color: $accent

  h1
    color: $highlight
    opacity: $op-emphasis
    font-weight: bold

  h3
    color: $dark
    font-weight: bold
    opacity: $op-default

  p
    color: $highlight
    opacity: $op-default

  a
    color: $highlight
    opacity: $op-default
    text-decoration: underline

  a:hover, a:focus
    color: $highlight
    opacity: $op-emphasis

  .btn
    background-color: $highlight
    color: $dark
    a
      color: $dark
      text-decoration: none

  .btn:hover, .btn:focus
    background-color: $accent
    color: $highlight
    border: 2px solid $highlight
    a
      color: $highlight
      text-decoration: none