//opacity
$op-subtle: .20
$op-default: .85
$op-emphasis: 1

// colors
$dark: rgba(44, 53, 55,1)
$medium: rgba(114,118,119,1)
$light: rgba(153,155,156,1)
$highlight: rgba(252,252,252,1)
$accent: rgba(33,165,195, $op-default)

$highlight-trans: rgba(252,252,252, $op-default) 
$transparent: rgba(0,0,0,0)

$nav-background: $dark

//opacity
$op-subtle: .20
$op-default: .75
$op-emphasis: 1 


//fonts
$code: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New

// sizes
$btn-borderpx: 2px

$nav-heightpx: 50px

