<footer id="footer" class="region region-footer">
    <div class="region-inner">
        <div id="block-views-view-footer-links-block" class="block block-views first odd block-views-view-footer-links-block">


            <div class="view view-view-footer-links view-id-view_footer_links view-display-id-block view-dom-id-a46fcd6cc4d999ea2f4ec5671c2552bb">



                <div class="view-content">
                    <div class="item-list">    <ul>          <li class="views-row views-row-1 views-row-odd views-row-first">
                        <div class="views-field views-field-title">        <span class="field-content"><a href="http://www.colorado.gov/revenue">Revenue Home</a></span>  </div></li>
                        <li class="views-row views-row-2 views-row-even">
                            <div class="views-field views-field-title">        <span class="field-content"><a href="https://www.colorado.gov/pacific/revenue/citizens-advocate-concern-forms">| Send a Concern</a></span>  </div></li>
                        <li class="views-row views-row-3 views-row-odd">
                            <div class="views-field views-field-title">        <span class="field-content"><a href="https://www.colorado.gov/pacific/revenue/media-center">| Media Center</a></span>  </div></li>
                        <li class="views-row views-row-4 views-row-even">
                            <div class="views-field views-field-title">        <span class="field-content"><a href="https://www.colorado.gov/pacific/revenue/website-feedback">| Website Feedback</a></span>  </div></li>
                        <li class="views-row views-row-5 views-row-odd">
                            <div class="views-field views-field-title">        <span class="field-content"><a href="https://www.colorado.gov/pacific/revenue/CDORcareers">| Join the Team</a></span>  </div></li>
                        <li class="views-row views-row-6 views-row-even views-row-last">
                            <div class="views-field views-field-title">        <span class="field-content"><a href="https://www.colorado.gov/pacific/revenue/social-media-policy">| Social Media Policy</a></span>  </div></li>
                    </ul></div>    </div>






            </div>
        </div>
        <div id="block-views-view-social-links-block" class="block block-views even block-views-view-social-links-block">


            <div class="view view-view-social-links view-id-view_social_links view-display-id-block view-dom-id-3799c797a53e31f237262f883d3872f0">



                <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first">

                        <div class="views-field views-field-field-minisite-social-link-url">        <div class="field-content"><a href="https://twitter.com/CO_Revenue" class="twitter" target="_blank">https://twitter.com/CO_Revenue</a></div>  </div>  </div>
                    <div class="views-row views-row-2 views-row-even views-row-last">

                        <div class="views-field views-field-field-minisite-social-link-url">        <div class="field-content"><a href="https://www.facebook.com/ColoradoRevenue/" class="facebook" target="_blank">https://www.facebook.com/ColoradoRevenue/</a></div>  </div>  </div>
                </div>






            </div>
        </div>
        <div id="block-block-1" class="block block-block last odd block-block-1">


            <p><a href="http://www.colorado.gov/">© 2019 State of Colorado</a> | <a href="https://www.colorado.gov/apps/oit/transparency/index.html">Transparency Online</a> | <a href="https://www.colorado.gov/accessibility-standards">Accessibility</a></p>

        </div>
    </div>
</footer>